/* GENERAL ----------------------------------------------------------------------------------------------------------------------- */

body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 8rem auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "box-nav box-description box-description"
        "box-nav box-page-updates box-site-updates";
}

/* TITLE ------------ */
.box-description { 
    grid-area: box-description;
}

.box-description div p {
    width: 50%;
    margin: auto;
    text-align: center;
}

/* PAGE UPDATES ----- */
.box-page-updates { 
    grid-area: box-page-updates;
}

/* SITE UPDATES ----- */
.box-site-updates { 
    grid-area: box-site-updates;
}